# SINDU(DRUM)
# SANDEEP
## ANIL
### KESAV
#### PRUDHVI
##### RUPA

  - PRUDHVI
      - ANIL
      - KESAV
      - SANDEEP
      - SINDHU
      - RUPA
      
  - FONT STYLES
       - **BOLD**
       - *ITALIC*
       - ***BOLD ITALIC***       
   # print function
       - in python print fuction is used to print specific mesage or text

In [1]:
print("HELLO KING PRUDHVI")

HELLO KING PRUDHVI

In [2]:
print("pulihora anil")

pulihora anil

In [3]:
print("hello viyyapu kesav")

hello viyyapu kesav

In [4]:
print("dumari sindhu")

dumari sindhu

In [5]:
print("heroine rupa")

heroine rupa

In [7]:
print("lasi sandeep")

lasi sandeep

In [10]:
print("hello gorgeous VIYA")

hello gorgeous VIYA

In [11]:
print ("helloo world")
print ("hello mom")
print ("hello dad")

print("bro")

helloo world
hello mom
hello dad
bro

# variable
    -to store some data value

In [21]:
a = 931     # single value assigned to single variable
print(a)

931

In [25]:
a= b= c = 931  #single value is assigned to mutiple variables
print(a,b,c)

931 931 931

In [27]:
a,b,c = 10,20,30
print(c,b,a)

30 20 10

# input function
     - ***used to accept the input from the suer or the admin who is uing the code or data

In [29]:
# input as text
a = input("enter your name")
print("your name is:",(a))
print (type(a))

enter your nameviya
your name is: viya
<class 'str'>

In [30]:
#input as number
k = input("enter your choosen number")
print ("the selected no.",(k))
print(type(k))

enter your choosen number0931
the selected no. 0931
<class 'str'>

In [31]:
#input as number
k = int(input("enter your choosen number"))
print ("the selected no.",(k))
print(type(k))

enter your choosen number0931
the selected no. 931
<class 'int'>

# DATA TYPES()):
     -

In [32]:
# integer
k=10
print(k)
print (type (k))

10
<class 'int'>

In [33]:
# float
k=9.31
print(k)
print(type(k))

9.31
<class 'float'>

In [34]:
#string
k= "prudhvi"
print(k)
print(type(k))

prudhvi
<class 'str'>

In [35]:
#string
k= "viya"
print(k)
print(type(k))

viya
<class 'str'>

# DATA CONVERSIONS

In [3]:
# INTEGER
k=48
print(k,type(k))
f=float(k)
print(f,type(f))
s=str(k)
print(s,type(s))

48 <class 'int'>
48.0 <class 'float'>
48 <class 'str'>

In [4]:
k=48
print(k,type(k))
f=float(k)
print(f,type(f))
s=str(k)
print(s,type(s))

48 <class 'int'>
48.0 <class 'float'>
48 <class 'str'>

In [5]:
# float
k=48.9
print(k,type(k))
i=int(k)
print(i,type(i))
s=str(k)
print(s,type(s))

48.9 <class 'float'>
48 <class 'int'>
48.9 <class 'str'>

In [7]:
# string
k="48931"
print(k,type(k))
i=int(k)
print(i,type(i))
f=float(k)
print(f,type(f))

48931 <class 'str'>
48931 <class 'int'>
48931.0 <class 'float'>

# Questionare tym.........

1.Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [9]:
a="name"
b="**is**"
c="james"
print(a+b+c)

name**is**james

In [10]:
a="name"
b="**is**"
c="james"
print(a,b,c)

name **is** james

In [13]:
a="name"
b="**is**"
c="james"
print(a,b,c)

name **is** james

In [14]:
k=input("enter your name")
print("name is",k)

enter your namejames
name is james

2.Write a Python program which accepts the radius of a circle from the user and compute the area .

In [18]:

pi=3.14
r=float(input("enter the radius"))
print(pi*r*r)

enter the radius0.9
2.5434

In [20]:
pi=3.14
r=int(input("enter the radius"))
print(pi*r*r)

enter the radius9
254.34

Accept two numbers from the user and return their sum, multiplication and division.

In [24]:
p=int(input())
k=int(input())
v= p+k
i= p-k
y= p*k
a= p/k
print(v,i,y,a)

8
9
17 -1 72 0.8888888888888888

Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50

In [26]:
k=int(input("enter the year"))
K= k+50
print(K)

enter the year2000
2050